services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - .:/app:cached
      - /app/node_modules
    ports:
      - "5173:5173"
    tty: true
    command: sleep infinity
